# Exercise 5-1 Create a CSV file for trip data

In [30]:
import pandas as pd
print("The Miles Per Gallon application")
print()
    
#define a list of lists with header row and three columns
trips = []

#create entries for the list and calculate MPG
more = "y"
while more.lower() == "y":
    miles_driven = float(input("Enter miles driven :     "))                    
    gallons_used = float(input("Enter gallons of gas:     "))                          
    mpg = round((miles_driven / gallons_used), 2)
    print("Miles Per Gallon:\t" + str(mpg))
    print()
        
    trip = [miles_driven, gallons_used, mpg]
    trips.append(trip)                   
    more = input("More entries? (y or n): ")
    
print(trips)

The Miles Per Gallon application

Enter miles driven :      4
Enter gallons of gas:      2

Miles Per Gallon:	2.0

More entries? (y or n):  y
Enter miles driven :      2
Enter gallons of gas:      3

Miles Per Gallon:	0.67

More entries? (y or n):  n

[[4.0, 2.0, 2.0], [2.0, 3.0, 0.67]]

In [32]:
df = pd.DataFrame(trips)
columnnames = ["miles_driven","gallons_used","mpg"]
df.columns = columnnames
df
pathfile = "/Users/yijun.cheng/Downloads/python333/input.csv"
df.to_csv(pathfile)

In [35]:
df2 = pd.read_csv(pathfile)
df2

   Unnamed: 0  miles_driven  gallons_used   mpg
0           0           4.0           2.0  2.00
1           1           2.0           3.0  0.67

In [36]:
df2['mpg'] = df2['miles_driven'] + df2['gallons_used']

In [37]:
df2

   Unnamed: 0  miles_driven  gallons_used  mpg
0           0           4.0           2.0  6.0
1           1           2.0           3.0  5.0